@import url('https://fonts.googleapis.com/css?family=Cabin');

/*- Globals -*/

html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Cabin', sans-serif;
  background-color: #ffffff;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container{
  width:66%;
  margin: auto;
  overflow: hidden;
}

a{
  text-decoration:none;
}

.b1{
  border: none;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  outline: none;
}

/*- Content -*/

/*- Header -*/

header{
  min-height: 80px;
  padding-top: 20px;
  z-index: 5;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
}

#logo{
  float:left;
}

header nav{
  float:right;
  padding-top: 20px;
  padding-right: 15%;
}

header ul{
  font-size: 20px;
  text-transform: uppercase;
}

header li{
  float: left;
  display: inline;
  padding: 0 30px 0 30px;
}

header a{
  color: #8ba998;
}

#navresp{
  display: none;
  height: 70px;
  padding-top: 15px;
  z-index: 4;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
}

#burgermenu{
  display: none;
  height: 0px;
  width: 100%;
  z-index: 4;
  position: fixed;
  top: 70px;
  background-color: #ffffff;
  text-align: center;
}

#burger{
  float: right;
}

#burgermenu ul{
  padding-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

#burgermenu li{
  padding-top: 60px;
}

#burgermenu a{
  color: #8ba998;
}

/*- Showcase -*/

#showcase{
  height: 100vh;
  width: 100%;
  margin: auto;
  background: url(../img/showcase-underground-2.png);
  display: table;
  background-size: cover;
  z-index: 1;
  color: #dfddd3;
  text-transform: uppercase;
}

h1{
  padding-top: 33vh;
  font-size: calc(38px + 1vw);
  letter-spacing: 10px;
  display: block;
  text-align: center;
}

#tekst{
  font-size: calc(12px + 0.5vw);
  letter-spacing: 4px;
  max-width: 550px;
  text-align: center;
  padding-bottom: 80px;
  margin: auto;
}

#cta{
  margin: auto;
  display: block;
  background-color: #886458;
  height: 55px;
  width: 300px;
  z-index: 4;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #dfddd3;
}

/*- Oferta -*/

#oferta{
  text-transform: uppercase;
  text-align: center;
  min-height: 550px;
  padding-top: 45px;
  margin-bottom: 50px;
  color: #5c5b59;
}

h2{
  color: #bab8b3;
  font-size: 16pt;
  letter-spacing: 3px;
}

h2 span{
  color: #608b49;
  font-size: 32pt;
  letter-spacing: 4px;
}

.c1{
  float:left;
  margin-top: 30px;
  width: 33%;
  letter-spacing: 4px;
}

/*- Break #1 -*/

#break1{
  width: 100%;
  height: 300px;
  background: url(../img/break1.png);
  background-size: cover;
}

/*- Kontakt -*/

#kontakt{
  color: #dcdbd4;
  min-height: 700px;
  padding-top: 50px;
}

#leftalign{
  float: left;
  width: 48%;
  margin-bottom: 20px;
}

#rightalign{
  float: right;
  width: 48%;
  margin-bottom: 30px;
}

#map{
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  background-color: #dcdbd4;
  height: 450px;
  width: 95%;
  margin-top: 25px;
  color: #000;
}

#creds{
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  margin-top: 15px;
  font-size: 18pt;
  text-transform: uppercase;
  text-align: center;
}

#godziny{
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#godziny h3{
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
/*  -ms-transform: translateX(-30px); /* IE 9 /*
  -webkit-transform: translateX(-30px); /* Safari
  transform: translateX(-30px); */
}

#form1{
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  align-items: center;     /* center items horizontally, in this case */
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* margin-right: 40px; */
}

fieldset{
  border: none;
  margin: 0;
  padding: 0;
}

form input{
  color: #dcdbd4;
  margin-top: 8px;
  height: 30px;
  width: 300px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Cabin', sans-serif;
}

input[type=text]{
    border: 1px solid #ccc;
    outline: none;
}

input[type=text]:focus {
    border: 1px solid #555;
}

input[name=tresc]{
  height: 150px;
}

button[type=submit]{
  height: 35px;
  margin-top: 8px;
  width: 306px;
  background-color: #c3bfa3;
  color: #fff;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 2px;
}

/*- Break #2 -*/

#break2{
  width: 100%;
  height: 300px;
  background: url(../img/break2.png);
  background-size: cover;
}

/*- Footer -*/

footer{
  min-height: 60px;
  color: #608b49;
  font-size: 14pt;
  text-align: center;
  line-height: 1.5;
}

footer a{
  color: #608b49;
}

footer span{
  font-size: 8pt;
}

/*- Media -*/

@media (max-width: 975px) {
  .container{
    width: 75%;
  }

  #break1, #break2{
    height: 200px;
  }

  header{
    display: none;
  }

  #navresp{
    display: block;
  }

  h1{
    padding-top: 20vh;
  }

  #tekst{
    padding-bottom: 25px;
  }

  .c1{
    width: 100%;
  }

  #leftalign{
    width: 100%;
    margin-bottom: 10px;
  }

  #rightalign{
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 10px;
  }

  #map{
    width: 100%;
    height: 400px;
    margin-top: 5px;
  }

  form input{
    min-width: 220px;
    width: 100%;
  }

  button[type=submit]{
    margin-left: 3px;
    width:100%;
  }

  footer{
    min-height: 75px;
    padding-top: 15px;
  }
}

@media (max-width: 400px) {
  #cta{
    font-size: 16px;
    text-align: left;
    padding-left: 85px;
  }
}

@media (max-width: 350px) {
  #cta{
    font-size: 16px;
    text-align: left;
    padding-left: 70px;
  }
}
